.qualidade {
  padding-block: 6rem;
}
.qualidade .container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.qualidade-item {
  flex: 1 1 300px;
}
.qualidade-item h2::before {
  display: inline-block;
  content: "";
  height: 3rem;
  width: 8px;
  margin-right: 0.5rem;
  border-radius: 2px;
}
.qualidade-item:nth-child(1) h2::before,
.qualidade-item:nth-child(4) h2::before {
  background-color: #ae81ff;
}

.qualidade-item:nth-child(2) h2::before,
.qualidade-item:nth-child(5) h2::before {
  background-color: #f9285e;
}

.qualidade-item:nth-child(3) h2::before,
.qualidade-item:nth-child(6) h2::before {
  background-color: #66d9eb;
}
